body {
    width: 100%;
    overflow-x: hidden;
}


/* banner css starts here */
.about-us-wrapper {
    padding: 40px 0px 40px 0px;
}

.about-us-grid-row {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-gap: 2rem;
}


.about-us-grid-row>div:nth-child(2)>img {
    width: 100%;
}

.about-us-tag-line {
    background-color: #DCF4FF;
    display: inline-block;
    padding: 9px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about-us-grid-row>div>h1 {
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-size: 48px;
    background: radial-gradient(50% 50% at 50% 78%, #42B4E5 0%, #0E177A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 1rem;
}

.about-us-tag-line>p {
    margin-bottom: 0rem;
    color: #00A0EA;
    font-family: 'Raleway_ExtraBold';
    letter-spacing: .5px;
    font-size: 16px;
}

.sub-head-one {
    font-family: 'Raleway_Medium';
    letter-spacing: .5px;
    font-size: 16px;
    color: #262626;
    margin-top: 1rem;
}

.sub-head-two {
    font-family: 'Raleway_Bold';
    margin-bottom: 0rem;
    letter-spacing: .5px;
    font-size: 18px;
    color: #262626;
    margin-top: 1rem;
}

.sub-head-three {
    font-family: 'Raleway_Medium';
    letter-spacing: .5px;
    font-size: 16px;
    color: #262626;
    margin-top: 0rem;
}

.about-btn {
    background-color: #0E177A;
    letter-spacing: .5px;
    font-family: 'Raleway_ExtraBold';
    font-size: 16px;
    color: #34CB81;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.about-btn:hover{
    background-color: #088E74;
    color: white;
}

@media screen and (max-width: 992px) {
    .about-us-grid-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-us-grid-row>div>h1>br {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .about-us-grid-row>div>h1 {
        font-size: 28px;
    }
}

.bottom-img-line {
    width: 100%;
}

/* banner css ends here */

/* quality of excellence css starts here */
.quality-of-excellence-wrapper {
    margin-top: 8rem;
}

.quality-of-excellence-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.quality-of-excellence-grid-row>div:nth-child(1) {
    /* border: 1px solid black; */
    height: auto;
    /* background-color: #FFB703; */
    position: relative;
}

.quality-of-excellence-grid-row>div:nth-child(2) {
    position: relative;
    top: 0;
    padding: 40px 0px 40px 0px;
    top: 0;
    z-index: 6666666;
}

.absolt-img {
    position: absolute;
    right: -117px;
    top: -75px;
    z-index: -1;
    width: 150px;
}


.quality-of-excellence-grid-row>div:nth-child(1)>img {
    width: 100%;
    position: absolute;
    top: -105px;
}

.quality-of-excellence-wrapper {
    background-color: #FFB703;
}

.absolt-wrapper {
    position: absolute;
    top: -110px;
}

.absolt-wrapper>h2 {
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-size: 38px;
    background: radial-gradient(50% 50% at 50% 78%, #8ECAE6 0%, #002B6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.absolt-wrapper>p {
    font-family: 'Raleway_Medium';
    font-size: 16px;
    letter-spacing: .5px;
    color: #0E177A;
    margin-top: 1rem;
}

.bring-text {
    font-family: 'Raleway_Medium';
    font-size: 16px;
    letter-spacing: .5px;
    color: #262626;
    margin: 1rem 0rem 1rem 0rem;
}

@media screen and (max-width:1290px) {
    .absolt-img {
        right: 0;
    }
}

@media screen and (max-width: 1080px) {
    .absolt-wrapper {
        position: initial;
        top: 0;
    }

    .quality-of-excellence-grid-row>div:nth-child(1)>img {
        position: initial;
    }

    .quality-of-excellence-grid-row>div:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quality-of-excellence-wrapper {
        margin-top: 0rem;
    }

    .absolt-img {
        right: 0;
    }
}

@media screen and (max-width: 992px) {
    .quality-of-excellence-grid-row {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0rem;
    }

    .quality-of-excellence-grid-row>div {
        padding: 40px 0px 20px 0px;
    }

    .absolt-wrapper>h2 {
        background: none;
        color: #0E177A;
        -webkit-text-fill-color: initial;
    }
}

@media screen and (max-width: 576px) {
    .absolt-wrapper>h2 {
        font-size: 28px;
    }
}


/* quality of excellence css ends here */

/* delivery system css start here */
.delivery-system-wrapper {
    margin-top: 10rem;
}

.delivery-system-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}


.list-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.list-grid-row>div {
    height: auto;
}

.delivery-system-grid-row>div>h3 {
    font-family: 'Poppins_SemiBold';
    font-size: 38px;
    letter-spacing: .5px;
    background: radial-gradient(50% 50% at 50% 78%, #3776FF 0%, #002B6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.delivery-para-one {
    font-family: 'Raleway_Medium';
    font-size: 16px;
    letter-spacing: .5px;
    color: #023047;
    margin-top: 1rem;
}

.delivery-list-ul>li {
    list-style-image: url('../Icons/image 335.png');
    margin-bottom: 0.5rem;
    font-family: 'Raleway_Medium';
}

.delivery-list-ul>li>span {
    position: relative;
    top: -5px;
}

.delivery-para-two {
    color: #0E177A;
    font-family: 'Raleway_Bold';
    letter-spacing: .5px;
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

.delivery-para-three {
    color: #252525;
    font-family: 'Raleway_Medium';
    letter-spacing: .5px;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.delivery-system-grid-row>div:nth-child(2)>img {
    width: 100%;
}

@media screen and (max-width: 1080px) {
    .delivery-system-wrapper {
        margin-top: 0rem;
        padding: 40px 0px 40px 0px;
    }
}



@media screen and (max-width: 1368px) {
    .delivery-system-wrapper {
        margin-top: 0rem;
        padding: 70px 0px 40px 0px;
    }
}

@media screen and (max-width: 992px) {
    .delivery-system-grid-row {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 640px) {
    .delivery-system-grid-row>div>h3>br {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .list-grid-row {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0rem;
    }

    .delivery-system-grid-row>div>h3 {
        font-size: 24px;
    }
}

/* delivery system css ends here */

/* brring executive management component starts here */
.brring-executive-wrapper {
    padding: 40px 0px 40px 0px;
    margin-top: 4rem;
}

.brring-executive-container {
    position: relative;
    top: 0%;
}

.tags-brring-executive {
    color: #42B4E5;
    font-family: 'Raleway_ExtraBold';
    font-size: 16px;
    letter-spacing: .5px;
    text-align: center;
    margin-bottom: 1rem;
}

.headline-brring-executive {
    font-family: 'Poppins_SemiBold';
    text-align: center;
    letter-spacing: .5px;
    font-size: 38px;
}

.headline-brring-executive>span:nth-child(1) {
    color: #3776FF;
}

.headline-brring-executive>span:nth-child(2) {
    color: #023047;
}

.brring-executive-grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    margin-top: 3rem;
}

.brring-executive-grid-row>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.brring-leadership {
    position: absolute;
    top: -60px;
    right: 250px;
}

.name-of-executive {
    font-family: 'Raleway_ExtraBold';
    letter-spacing: .5px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #3776FF;
    font-size: 18px;
    text-align: center;
}

.post-of-executive {
    color: #4F4F4F;
    font-family: 'Raleway_SemiBold';
    letter-spacing: .5px;
    font-size: 13px;
    text-align: center;
}


.delivery-system-grid-row>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .brring-leadership {
        right: 0;
    }

    .brring-executive-grid-row {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .brring-executive-wrapper {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .brring-executive-grid-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .brring-executive-grid-row>div>img {
        width: 120px;
    }

    .headline-brring-executive {
        font-size: 28px;
    }
}

/* brring executive management component ends here */

/* misson vision css starts here */
.mission--vision-wrapper {
    background-image: url('../Images/Group 232.png');
    height: auto;
    display: flex;
    padding: 80px 0px 80px 0px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.mission-vision-grid-row {
    height: auto;
    max-width: fit-content;
}

.mission-vision-grid-row>div {
    height: auto;
    background: linear-gradient(180deg, rgba(215, 226, 235, 0.17) 0%, rgba(255, 255, 255, 0) 83.33%);
    padding: 30px 20px 30px 20px;
    margin-bottom: 2rem;
}

.animated-link {
    /* margin-top: 40px;
    margin-bottom: 20px; */
    max-width: 450px;
    font-family: 'Poppins_SemiBold';
    font-size: 26px;
    letter-spacing: .5px;
}

.animated-link a {
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    background-repeat: no-repeat;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: white;
}

.animated-link a:hover {
    color: white;
}

.mission-vision-grid-row>div>p {
    font-family: 'Raleway_Bold';
    font-size: 16px;
    letter-spacing: .5px;
    color: white;
}

.animated-link a {
    background-image: linear-gradient(270deg, #F58300, #F58300);
    background-size: 100%;
    background-position: 0 25px;
}

@media screen and (max-width: 640px) {
    .mission-vision-grid-row>div>p>br {
        display: none;
    }
}

/* mission vision css ends here */

/* our customer css starts here */
.our-customer-headline {
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-size: 38px;
    color: #0E177A;
    text-align: center;
}

.our-customer-headline>img {
    width: 100px;
}

.our-customers-wrapper {
    padding: 20px 0px 20px 0px;
}

.client-icons-grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    max-width: 1000px;
    margin: auto;
}

.client-icons-grid-row>div {
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
}

.client-icons-grid-row>div>div>img {
    width: 120px;
}

.another-client-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: fit-content;
    margin: 1rem auto;
}

.another-client-grid-row>div {
    height: auto;
    padding: 10px 60px 10px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
}

.another-client-grid-row>div>img {
    width: 120px;
}

@media screen and (max-width:640px) {
    .client-icons-grid-row {
        grid-template-columns: repeat(3, 1fr);
    }

    .another-client-grid-row {
        display: none;
    }
}


@media screen and (max-width:576px) {
    .client-icons-grid-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* our customer css ends here */

.modal-content {
    background-image: url('../Images/Group 258.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.modal {
    z-index: 99999999;
}

.modal-footer {
    border-top: none;
}

.btn-close {
    box-shadow: none !important;
    border: none !important;
}

.modal-grid-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
}

.modal-grid-row>div>img {
    width: 100%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1050px;
        margin: 5rem auto;
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.modal-open::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-open {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.modal-grid-row>div:nth-child(2)>h5 {
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-size: 38px;
    background: radial-gradient(50% 50% at 50% 50%, #00A0EA 0%, #002B6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 0rem;
}

.modal-grid-row>div:nth-child(2)>p:nth-child(2) {
    font-family: 'Raleway_ExtraBold';
    letter-spacing: .5px;
    font-size: 18px;
    margin-bottom: 1rem;
    color: #42B4E5;
}

.modal-grid-row>div:nth-child(2)>p:nth-child(3) {
    color: #252525;
    font-family: 'Raleway_Medium';
    font-size: 14px;
    letter-spacing: .5px;
}

@media screen and (max-width: 992px) {
    .modal-grid-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal-grid-row>div>img {
        width: 55%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .modal.show .modal-dialog{
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (max-width: 576px) {
    .modal.show .modal-dialog{
        padding: 0px 10px 0px 10px;
    }
    .modal-grid-row>div:nth-child(2)>h5{
        font-size: 28px;
    }
    .modal-grid-row>div>img{
        width: 100%;
    }
}