/* faqs banner css starts here */
.faqs-banner-grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.faqs-banner-grid-row>div>img {
    width: 100%;
    border-bottom-left-radius: 68px;
    border-bottom-right-radius: 68px;
}

.faqs-banner-grid-row>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 60px 0px 60px;
    position: relative;
    top: 0;
    background-image: url('../Icons/image 663.png');
    background-position: right;
    background-repeat: no-repeat;
}

.faqs-banner-grid-row>div>h1 {
    background: radial-gradient(50% 50% at 50% 50%, #00A0EA 0%, #002B6D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-family: 42px;
}

.faqs-banner-grid-row>div>p {
    font-family: 'Raleway_SemiBold';
    letter-spacing: .5px;
    font-size: 16px;
    color: #111111;
    margin-top: 1rem;
}

.faqs-banner-grid-row>div>button {
    background-color: #0E177A;
    color: #34CB81;
    font-family: 'Raleway_ExtraBold';
    letter-spacing: .5px;
    font-size: 16px;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.faqs-banner-grid-row>div:nth-child(1)>img {
    position: absolute;
    width: 120px;
    top: 0;
    left: 0;
}

@media screen and (max-width: 992px) {
    .faqs-banner-grid-row {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 576px) {
    .faqs-banner-grid-row>div:nth-child(1) {
        padding: 20px 10px 20px 10px;
    }

    .faqs-banner-grid-row>div>img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

/* faqs banner css ends here */

/* accordion menu css starts here */
.accordion-wrapper {
    padding: 40px 0px 40px 0px;
}

.accordion-grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
}

.accordionWrapper {
    width: auto;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px auto;
}

.accordionItem {
    display: block;
    width: 100%;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 22px;
    font-weight: 400;
    color: #0E177A;
    font-family: 'Poppins_SemiBold';
    width: 100%;

    border-radius: 3px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accordionItemHeading span {
    float: right;
    font-size: 35px;
    background-color: #c7c7c7;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordionItemHeading>span>img{
    width: 18px;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;


}

.open .accordionItemContent {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;

    transform: scaleY(1);

    transform-origin: top;

    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading {
    margin: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #F7F7F7;
}

.accordionItemContent>p {
    font-family: 'Raleway_Medium';
    font-size: 16px;
    letter-spacing: .5px;
    color: #6B6B6B;
}

.accordion-grid-container>div:nth-child(2)>img {
    width: 100%;
}

.accordion-grid-container>div:nth-child(2)>h3 {
    font-family: 'Poppins_SemiBold';
    letter-spacing: .5px;
    font-size: 28px;
    color: #002B6D;
}

.accordion-grid-container>div:nth-child(2)>h3>span {
    color: #34CB81;
}

.accordion-grid-container>div:nth-child(2)>p {
    font-family: 'Raleway_Medium';
    font-size: 16px;
}

.accordion-grid-container>div:nth-child(2)>a>button {
    border: 2px solid #111A7C;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Poppins_Medium';
    font-size: 16px;
    color: #111A7C;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 992px) {
    .accordion-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .accordionItemHeading span{
       background-color: transparent;
}
}

@media screen and (max-width: 576px) {
    .accordionItemHeading {
        font-size: 18px;
    }
}

/* accordion menu css ends here */